@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Yeseva+One&display=swap');

:root {
	/* Fontes */
	--header-font: 'Yeseva One';
	--content-font: 'Poppins';

	/* Cores do site (não mudam no Dark Mode) */
	--primary-color: #F7CE45;
	--secondary-color: #e7ad0028;

	/* Cores: Light Mode */
	--lm-bg-color: #ececec;
	--lm-container-color: #f7f7f7;
	--lm-main-font-color:#16171B;
	--lm-sec-font-color: #353535;

	/* Cores: Dark Mode */
	--dm-bg-color: #1F2125;
	--dm-container-color: #16171B;
	--dm-main-font-color: #B4B5B9;
	--dm-sec-font-color: #6F7071;
}

body {
	font-family: var(--content-font);
	background-color: var(--lm-bg-color);
	scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--header-font);
	margin-bottom: 0.9rem;
}

h1 {
	font-size: 4rem;
	margin-bottom: 0.9rem;
}

h2 {
	font-size: 3.2rem;
}

/* Header, Nav */
.nav-container {
	position: sticky;
	top: 0;
}

.navbar__logo{
	width: 4rem;
}

.button-icon {
	margin-right: 7vw;
}

nav {
	background-color: var(--primary-color);
}

.navbar-nav a{
	font-size: 1.2rem;
}

.nav__content {
	color: var(--lm-main-font-color);
}

.nav__content:hover {
	color: var(--lm-sec-font-color);
}

.nav__content:visited {
	color: inherit;
}

/* Main > Hero */

.hero{
	width: fit-content;
	height: fit-content;
	padding: 0;
	overflow: hidden;
}

.hero__img {
	background-image: url("../img/cat-img-hero.jpg");

	/* Full height */
	width: 99vw;
	height: 50vh;

	/* Center and scale the image nicely */
	background-position: 0% 70%;
	background-repeat: no-repeat;
	background-size: cover;
}

mark{
	background-color: var(--secondary-color);
}

main{
	background-color: var(--lm-container-color);
	box-shadow: 2px 2px 32px 8px rgba(93, 93, 93, 0.068);
}

main p{
	text-justify: justify;
}

main p,a,label,li {
	font-family: var(--content-font);
	font-size: 1.3rem;
}

.main__list {
	padding: 0;
}

.main__list li {
	text-indent: 2rem;
	list-style-position: inside;
	text-justify: justify;
	margin-bottom: 2.7rem;
	padding: 0;
}


/* Footer */

.footer__icon{
	width: 5rem;
	height: 5rem;
}

.footer__list{
	list-style: none;
}

.footer__list-icon{
	width: 2.4rem;
	margin-right: 1rem;
}

.footer__list-anchor{
	text-decoration: none;
	color: var(--lm-main-font-color);
}

.footer__list-anchor:hover{
	color: var(--lm-sec-font-color);
}